/* Variáveis para cores */
:root {
    --background-color: #001629;
    --cor-do-titulo: #16C1D7;
    --cor-da-calculadora: #16191c;
    --cor-do-visor: #073642;
    --cor-text-display: #FF4E50;
    --cor-botao-numerico: #16C1D7;
    --cor-texto-botao: #001629;
    --hover-numerico: #FF4E50;
    --cor-botao-operadores: #FF4E50;
    --operator-text-color: white;
    --hover-botao-operador: #16C1D7;
    --sombras: rgba(0, 0, 0, 0.3);
  }
  
  /* Estilos gerais do documento */
body {
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
  color: white;
  box-sizing: border-box;

}

/* Estilos para títulos */
h1, h2, h3 {
  text-align: center;
  color: var(--cor-do-titulo);
  font-size: 20px;
}

/* Estilos da calculadora */
.calculadora {
  background-color: var(--cor-da-calculadora);
  width: 400px;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--sombras);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos do visor */
.display {
  
  background-color: var(--cor-do-visor);
  color: var(--cor-text-display);
  padding: 10px;
    border-radius: 4px;
  margin-bottom: 20px;
  width: 100%;
  text-align: right;
  display: block;
}

.display p {
  
  padding: 10px 20px;
  margin: 0;
  font-size: 18px;
  
}

/* Estilos dos botões */
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
}

.button {
  background-color:var(--cor-botao-numerico);
  color: var(--cor-texto-botao);
  border: none;
  border-radius: 4px;
  padding: 18px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: var(--sombras);
  transition: all 0.3s ease;
  flex-grow: 1;
  transform-style: preserve-3d;
  perspective: 800px;
  margin: 5px;
}

.button:active {
  transform: translateY(2px);
  box-shadow: var(--sombras);
}

.button:hover {
  background-color: var(--hover-numerico);
}

/* Estilos dos botões de operadores */
.button.operator {
  background-color: var(--cor-botao-operadores);
  color: white;
}

.button.operator:active {
  transform: translateY(2px);
  box-shadow: var(--sombras);
}

.button.operator:hover {
  background-color: var(--hover-botao-operador);
}

/* Estilo para a imagem */
body::before {
  content: "";
  background-image: url('../img/unibh.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  right: 1;
  width: 200px;
  height: 200px;
  
}
/* Responsividade para 1024px */
@media (max-width: 1024px) {
  body::before  {
    display: none;
  }
  

/* Responsividade para 720px */
@media (max-width: 720px) {
  .calculadora {
    width: 300px;
    height: 380px;
  }
  .button {
      font-size: 16px;
      padding: 10px;
  }
}


/* Responsividade para 500px */
@media (max-width: 500px) {
  .calculadora {
    width: 280px;
    height: 360px;
  }
  .button {
    padding: 8px;
}
  
  h1, h2, h3 {
      font-size: 14px;
  }
}
/* Responsividade para 350px */
@media (max-width: 350px) { 
  h2 {
    display: none;
  }
}
}